* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.Layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ccc;
    & main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}